@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* var */
:root {
    --myBeige: rgba(255, 228, 196, 0.329); 
    --myBlack: #292929; 
    --myRed: #c0392b; 
    --myWhite: aliceblue; 
}

/* GENERAL */

u {
    color: var(--myRed);
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

body {
    background-color: var(--myBeige);
    font-family: 'Open Sans', sans-serif; 
    color: var(--myBlack); 
    padding-bottom: 50px; ;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}


/* about button modifications */

.about {
    cursor: pointer; 
    margin-right: 50px; ; 
    padding: 0;
}
.nav .about:hover {
    color: var(--myWhite); 
    font-weight: normal;
}

.nav.active .about:hover {
    color: var(--myBlack); 
    font-weight: normal;
}

/* contact button modifications */
#contact:hover {
    font-size: large;
}

/* fkco logo modifications */

.logo {
    font-size: xx-large;
}

/* NAVBAR */

.nav {
    position: fixed;
    background-color: var(--myBlack);
    top: 0; 
    left: 0; 
    right: 0; 
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex; 
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: var(--myWhite); 
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav a:hover {
    color: var(--myRed); 
    font-weight: bold;
}

.nav.active {
    background-color:var(--myWhite);
    box-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.nav.active a {
    color: var(--myBlack); 
    transition: all 0.3s ease-in-out;
}

.nav.active a:hover {
    color: var(--myRed); 
    font-weight: bold;
}

.nav.active .container {
    padding: 10px 0;
}

.nav.active .dropdown .dropdownA {
    color: var(--myWhite); 
}
.nav.active .dropdown .dropdownA:hover {
    color: var(--myRed); 
    font-weight: bold;
}


/* dropdown menu "about section" */

.nav-content {
    opacity: 0; 
    pointer-events: none;
    display: flex; 
    flex-direction: column;
    text-align: center;
    position: absolute; 
    background-color: var(--myBlack);
    border: 1px solid var(--myBeige);
    border-radius: 5px;
    max-width: 150px;
    min-width: 150px;
    min-height: 60px;
    padding-top: 6px;
    margin: 5px -27px; 
    transition: all 0.2s ease-in-out;
}

.nav-content.show{
    opacity: 1; 
    pointer-events: all;
}

/* arrow next to the about */
.nav .rotate, 
.nav .rotate.down {
    filter: invert(1);
}

.nav.active .rotate, 
.nav.active .rotate.down {
    filter: invert(0);
}

.rotate{
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 15px; 
    margin-left: -62px; 
    margin-bottom: -1px;  
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.rotate.down {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}


/* hero */

.hero {
    height: 100vh; 
    color: var(--myBlack); 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: -1; 
}

