@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* var */
:root {
    --myBeige: #f3e0cd; 
    --myBlack: #292929;
    --myBlack2: #333333dc;
    --myRed: #c44739; 
    --myRed2: #d45b4e;
    --myWhite: aliceblue; 
}

/* MAIN PAGE */

u {
    color: var(--myRed);
}
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}
body {
    background-color: var(--myBeige);
    background: linear-gradient(0deg, var(--myRed) -35%, var(--myBeige) 13%);
    font-family: 'Open Sans', sans-serif; 
    color: var(--myBlack); 
    overflow-x: hidden;
}
.container {
    max-width: 1800px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}
/* fkco logo modifications */
.logo {
    font-size: xx-large;
    margin-left: 20px;
}


/* NAVBAR */
.nav {
    position: fixed;
    background-color: var(--myBlack);
    top: 0; 
    left: 0; 
    right: 0; 
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
    transition: all 0.3s ease-in-out;
}
.nav ul {
    display: flex; 
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.nav a {
    color: var(--myWhite); 
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}
.nav a:hover {
    color: var(--myRed); 
    font-weight: bold;
}
.nav.active {
    opacity: 1;
    box-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.nav.active a {
    transition: all 0.3s ease-in-out;
}
.nav.active a:hover {
    font-weight: bold;
}
.nav.active .container {
    padding: 10px 0;
}
.nav.active .dropdown .dropdownA {
    color: var(--myWhite); 
}
.nav.active .dropdown .dropdownA:hover {
    color: var(--myRed); 
    font-weight: bold;
}
/* about button modifications */
.about {
    cursor: pointer; 
    margin-right: 50px; ; 
    padding: 0;
}
.nav .about:hover {
    color: var(--myWhite); 
    font-weight: normal;
}

.nav.active .about:hover {
    font-weight: normal;
}

/* dropdown menu "about section" */
.nav-content {
    opacity: 0; 
    pointer-events: none;
    display: flex; 
    flex-direction: column;
    text-align: center;
    position: absolute; 
    background-color: var(--myBlack);
    border: 1px solid var(--myWhite);
    border-radius: 5px;
    max-width: 150px;
    min-width: 150px;
    min-height: 60px;
    padding-top: 0px;
    margin: 5px -27px; 
    transition: all 0.2s ease-in-out;
    overflow: visible;
}
.nav-content.show{
    opacity: 1; 
    pointer-events: all;
}
/* arrow next to the about */
.nav .rotate, 
.nav .rotate.down {
    filter: invert(1);
}
.rotate{
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 15px; 
    margin-left: -62px; 
    margin-bottom: -1px;  
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.rotate.down {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}


/* HERO MAIN PAGE */
.hero {
    position: absolute; 
    height: 100vh; 
    color: var(--myBlack); 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: -1; 
}
.gradient-background {
    background: linear-gradient(300deg, var(--myBeige), var(--myRed));
    background-size: 140% 140%;
    animation: gradient-animation 11s ease infinite;
    
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.hero .container { 
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}
.japanese-writing {
    margin-top: 60px;
    height: 57vh;
}
.welcome-message {
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 40vw;
    max-width: 700px;
    height: 35vh;
    padding: 20px; 
    color: var(--myBlack); 
    z-index: -1; 
    position: relative; 
    border: var(--myBlack) 1px solid;
    border-bottom: 0;
    border-right: 0;
}
.welcome-message p {
    font-size: 1.3vw;
    margin-top: 10px;
}
.welcome-message h1 {
    font-size: 2vw;
}

.welcome-message::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/karate-kick.png);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
    opacity: 0.2; 
    z-index: -1; 
}
span {
    font-weight: bolder;
}
.join-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}
.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #3b5998;
    padding: 13px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out; 
    border: none;
}
.icon:hover {
    opacity: 0.7;
}
a {
    text-decoration: none;
    color: var(--myWhite);
}
.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 200px; 
}
.contact-us-button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out; 
    background-color: var(--myBlack);
    color: var(--myWhite);
    font-family: 'Open Sans', sans-serif; 
}
.contact-us-button:hover {
    opacity: 0.7;
}

/* FOOTER */
footer {
    height: 5vh;
    margin: 0px;
    padding: 0px;
    color: var(--myBlack);
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid var(--myBlack);
}

/* GENERAL CONTENT CONTAINER */
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 45vh; 
    min-height: 300px;}
.cont2 {
    background: linear-gradient(to right, var(--myBeige), var(--myRed));
    height: 50vh;
}
.triangle {
    background-color: var(--myBeige);
    height: 10vh;
    margin-top: -5vh;
    rotate: 2deg;
}
.paragraph-content {
    width: 35vw;
    margin: 50px;
    font-size: large;
}
.text-box {
    margin-left: 30px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    padding: 0px;
}

#globe-png {
    height: 35vh;
}
#kenji-midori {
    height: 30vh;
    border-radius: 5px;
    margin-left: 30px;
}
#wko-logo {
    height: 23vh;
    margin: 20px;
}

/* JOIN US  */
.cont4{
    height: 65vh;
    min-height: 400px;
    margin-top: 20px;
}

.join-us {
    background-color: var(--myRed2);
    width: 85vw;
    height: 45vh;
    border-radius: 15px;
    border: 1.5px solid var(--myBlack);
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: left;
    align-content: left;
    justify-content: center;
    min-height: 360px;
    margin-bottom: 60px;
    min-height: 380px;
}
.join-us .text-box {
    width: 45vw;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    color: var(--myWhite);
    font-size: 1.1em;
}
.join-us .text-box h2 {
    margin-bottom: 20px;  
    font-size: 2em;
}
.join-us img {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    height: 17vw;
    border-radius: 10px;
}

button{
    background-color: var(--myRed2);
    border: var(--myBeige) 2px solid;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 10vh;
    width: 15vw;
    min-height: 54px;
    transition: 0.5s all;
}

.btn-dojos {
    margin-top: 15px;
    color: var(--myWhite);
    background-image: linear-gradient(to top, var(--myWhite) 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    margin-right: 10px;
    padding: 0 10px;
}
.btn-dojos:hover{
    background-position: 100% 100%;
    color: var(--myRed2);
}
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* Add animation when scrolling */

/* left to right appear  */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* right to left appear */
@keyframes appear2 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* bottom to top appear */
@keyframes appear3 {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.cont1, .cont3{
    animation: appear linear;
    animation-timeline: view();  
    animation-range: entry 0% cover 40%;
}
.cont2 {
    animation: appear2 linear;
    animation-timeline: view();  
    animation-range: entry 0% cover 40%;
}
.cont4, .cont6{
    animation: appear3 linear;
    animation-timeline: view();  
    animation-range: entry 0% cover 40%;
}

/* Shihan page */

.cont5 {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items:center;
    text-align: justify;
    height: 85vh;
    background: linear-gradient(to top, var(--myBeige), var(--myRed2));
    margin-top: 30px;
}
#shihan-ohan {
    height: 50vh;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 50px;
}
.large-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: justify;
    min-height: 500px;
    height: 50vh;
    width: 50vw; 
    font-size: 1.1vw;
    gap: 15px;
    margin-right: 30px;
    margin-top: 50px;
}

/* Shihan typerwriter animation */
.typerwriter {
    width: max-content;
}
.typerwriter h1 {
    overflow: hidden;
    border-right: .15em solid var(--myBlack);
    width: 100%;
    white-space: nowrap;
    margin: 0 ;
    letter-spacing: .15em;
    animation: 
        typing 1.5s steps(27), 
        cursor .4s step-end infinite alternate;
}
/* testemonial typerwriter animation */
.typerwriter2 {
    width: max-content;
}
.typerwriter2 h1 {
    overflow: hidden;
    border-right: .15em solid var(--myBlack);
    width: 100%;
    white-space: nowrap;
    margin: 0 ;
    letter-spacing: .15em;
    animation: 
        typing .8s steps(15), 
        cursor .4s step-end infinite alternate; 
}
/* animations for typewriter */
@keyframes cursor {
    50% {border-color: transparent;}
}
@keyframes typing {
    from {width: 0;
    }
    
}

.cont6 {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items:center;
    text-align: justify;
    height: 75vh;
    border-top: 2px solid var(--myBlack);
}
#shihan-ohan2 {
    height: 35vh;
    border-radius: 5px;
    margin-right: 30px;

}








/* Scale website for larger screens */
@media screen and (min-width: 1800px) {
    .paragraph-content {
        font-size: 1.3em;
    }
    .join-us .text-box{
        font-size: 1.35em;
    }
    .btn-dojos {
        height: 8vh;
        width: 10vw;
    }
}
/* Scale website for smaller screens (ipad or small computer) */
@media screen and (max-width: 1400px) {
    .container {
        font-size: medium;
    }
    .paragraph-content {
        font-size: 1em;
    }
    .cont4{
        margin-top: 80px;
    }
    .large-paragraph {
        font-size: 0.92em;
    }
    .large-paragraph h1 {
        font-size: 1.5em;
    }
    .testamonial-paragraph {
        font-size: 1.1vw;
    }
}